@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Karla:wght@400;700&display=swap");
:root {
  /* Colors */
  --clr-primary1: hsl(256, 26%, 20%);
  --clr-primary2: hsl(216, 30%, 68%);
  --clr-neutral1: hsl(270, 9%, 17%);
  --clr-neutral2: hsl(273, 4%, 51%);
  --clr-neutral3: hsl(0, 0%, 96%);
  --clr-white: rgb(255, 255, 255);
  /* Font & Typography */
  --fnt-primary: "Karla", sans-serif;
  --fnt-secondary: "DM Serif Display", serif;
  --fnt-regular: 400;
  --fnt-bold: 700;
  --fnt-xlarge: 4.8rem;
  --fnt-large: 3.2rem;
  --fnt-medium: 2.2rem;
  --fnt-normal: 1.8rem;
  --fnt-small: 1.6rem;
  --fnt-xsmall: 1.4rem;
  --fnt-xxsmall: 1.2rem;
}

@media screen and (max-width: 350px) {
  :root {
    --fnt-xlarge: 4.4rem;
    --fnt-large: 3rem;
    --fnt-medium: 2rem;
    --fnt-normal: 1.6rem;
    --fnt-small: 1.4rem;
    --fnt-xsmall: 1.2rem;
    --fnt-xxsmall: 1rem;
  }
}

@media screen and (min-width: 1660px) {
  :root {
    --fnt-xlarge: 5.2rem;
    --fnt-large: 3.6rem;
    --fnt-medium: 2.6rem;
    --fnt-normal: 2.2rem;
    --fnt-small: 2rem;
    --fnt-xsmall: 1.8rem;
    --fnt-xxsmall: 1.6rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  line-height: 1.4;
  font-family: var(--fnt-primary);
  font-weight: var(--fnt-regular);
}

img {
  display: block;
  height: auto;
  width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-weight: var(--fnt-bold);
  font-family: var(--fnt-secondary);
  line-height: 1;
}

/* Utilities Classes */
.container {
  max-width: 1100px;
  margin: 0 auto;
}

.flex {
  display: flex;
  align-items: center;
  height: 100%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  align-items: center;
  height: 100%;
}

.btn {
  display: inline-block;
  padding: 1rem 4rem;
  font-size: var(--fnt-normal);
  text-transform: uppercase;
  color: var(--clr-neutral3);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-dark {
  width: 100%;
  max-width: 300px;
  border: 2px solid var(--clr-neutral3);
}

.btn-dark:hover {
  background-color: var(--clr-primary1);
  color: var(--clr-white);
  border-color: transparent;
}

.btn-light {
  border: 2px solid var(--clr-white);
}

.btn-light:hover {
  background-color: var(--clr-white);
  border-color: transparent;
  color: var(--clr-primary1);
}

/* ANIMATIONS */
@keyframes fadeIn {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  animation: fadeOut 0.3s ease-in-out forwards;
}

.header {
  height: 12vh;
}

.nav {
  position: relative;
  background-color: var(--clr-white);
  justify-content: space-between;
  padding: 1.5rem;
}

.nav__list {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  padding-top: 3rem;
  top: 12vh;
  left: 0;
  width: 100%;
  min-height: 88vh;
  background-color: var(--clr-neutral1);
  text-align: center;
  z-index: 1000;
}

.nav__list::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: url("../images/bg-pattern-mobile-nav.svg") no-repeat bottom center/contain;
  pointer-events: none;
  z-index: -1;
}

.nav__item {
  margin: 3rem 0;
  font-size: var(--fnt-small);
  text-transform: uppercase;
  user-select: none;
}

.nav__link {
  color: var(--clr-neutral3);
}

.nav__toggle {
  padding: 0.6rem;
}

.nav__toggle span {
  display: block;
  height: 2px;
  width: 20px;
  background-color: var(--clr-neutral1);
  transform-origin: 0px 1px;
  transition: all 0.2s ease-in-out;
}

.nav__toggle span:not(:last-child) {
  margin-bottom: 0.5rem;
}

.nav.open .nav__toggle span:first-child {
  transform: rotate(45deg);
}

.nav.open .nav__toggle span:nth-child(2) {
  opacity: 0;
}

.nav.open .nav__toggle span:last-child {
  transform: rotate(-45deg);
}

.nav.open .nav__list {
  opacity: 1;
  visibility: visible;
}

/* ===SECTION-1-HERO=== */
.section-1 {
  background-color: var(--clr-primary1);
}

.hero__text {
  position: relative;
  padding: 10rem 1.5rem;
  text-align: center;
  color: var(--clr-neutral3);
  z-index: 10;
}

.hero__text h1 {
  font-size: var(--fnt-xlarge);
}

.hero__text p {
  margin: 2rem 0;
  font-size: var(--fnt-normal);
}

.hero__text a {
  width: unset;
  max-width: unset;
}

.hero__text::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background: url("../images/bg-pattern-intro-left-mobile.svg") no-repeat;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero__text::after {
  content: "";
  position: absolute;
  width: 70%;
  height: 70%;
  background: url("../images/bg-pattern-intro-right-mobile.svg") no-repeat right bottom/contain;
  right: 0;
  bottom: -40%;
  z-index: -1;
}

/* ===END-SECTION-1-HERO=== */
/* ===SECTION-2-FEATURES=== */
.section-2 {
  padding: 8rem 1.5rem;
}

.features__header {
  position: relative;
  text-align: center;
  font-size: var(--fnt-medium);
}

.features__header::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -100%;
  transform: translateX(-50%);
  width: 20%;
  height: 1px;
  background-color: var(--clr-neutral2);
}

.features__wrapper {
  margin-top: 5rem;
  flex-direction: column;
  justify-content: space-between;
}

.features__wrapper .card {
  display: grid;
  place-items: center;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
}

.features__wrapper .card__img {
  width: 70px;
}

.features__wrapper .card h3 {
  font-size: var(--fnt-normal);
  margin: 2rem 0;
}

.features__wrapper .card p {
  font-size: var(--fnt-small);
  color: var(--clr-neutral2);
}

.features__wrapper .card:not(:last-child) {
  margin-bottom: 4rem;
}

/* ===END-SECTION-2-FEATURES=== */
/* ===SECTION-3-HWW=== */
.section-3 {
  padding: 8rem 1.5rem;
}

.hww {
  position: relative;
  padding: 4rem;
  flex-direction: column;
  justify-content: center;
  background-color: var(--clr-primary1);
  color: var(--clr-neutral3);
  text-align: center;
  z-index: 10;
}

.hww h2 {
  font-size: var(--fnt-large);
  margin-bottom: 4rem;
}

.hww a {
  width: unset;
  max-width: unset;
}

.hww::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: url("../images/bg-pattern-how-we-work-mobile.svg") no-repeat right top/contain;
  pointer-events: none;
  z-index: -1;
}

/* ===END-SECTION-3-HWW=== */
/* ===FOOTER=== */
footer {
  position: relative;
  background-color: var(--clr-neutral3);
  display: grid;
  place-items: center;
  padding: 5rem 0;
  z-index: 10;
}

footer::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/bg-pattern-footer-mobile.svg") no-repeat top left/contain;
  top: 0;
  left: 0;
  z-index: -1;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 0 1.5rem;
}

.footer__top {
  position: relative;
  display: grid;
  place-items: center;
}

.footer__top .logo {
  width: 120px;
  margin-bottom: 4rem;
}

.footer__top .social-media a:not(:last-child) {
  margin-right: 1rem;
}

.footer__top .social-media i {
  font-size: 2.8rem;
  color: var(--clr-neutral2);
}

.footer__top .social-media i:hover {
  color: var(--clr-neutral1);
}

.footer__top::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  bottom: -10%;
}

.footer__bottom {
  margin-top: 2rem;
}

.footer__bottom .footer-list {
  margin-bottom: 3rem;
  font-size: var(--fnt-small);
  text-transform: uppercase;
}

.footer__bottom .footer-list h3 {
  color: var(--clr-neutral2);
  font-family: var(--fnt-primary);
  margin-bottom: 2rem;
}

.footer__bottom .footer-list li:not(:last-child) {
  margin-bottom: 1rem;
}

.footer__bottom .footer-list a {
  color: var(--clr-neutral1);
  font-weight: var(--fnt-bold);
}

.footer__bottom .footer-list a:hover {
  text-decoration: underline;
}

/* ===END-FOOTER=== */
@media screen and (min-width: 768px) {
  .section-1 {
    position: relative;
  }
  .section-1::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    top: 0;
    right: 0;
    background: url("../images/bg-pattern-intro-right-desktop.svg") no-repeat top right/contain;
  }
  .section-1::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 80%;
    bottom: -40%;
    left: 0;
    background: url("../images/bg-pattern-intro-left-desktop.svg") no-repeat bottom left/contain;
  }
  .nav__list {
    all: unset;
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
  }
  .nav__item {
    margin: 0 1.5rem;
  }
  .nav__link {
    color: var(--clr-neutral2);
  }
  .nav__link:hover {
    color: var(--clr-neutral1);
  }
  .nav .btn-dark {
    border: 2px solid var(--clr-neutral1);
  }
  .nav__toggle {
    display: none;
  }
  .hero {
    display: grid;
    grid-template-columns: 40% auto;
    place-items: center;
    padding: 10rem 1.5rem;
  }
  .hero__text {
    text-align: left;
    padding: 0;
    order: 1;
  }
  .hero__text::before, .hero__text::after {
    display: none;
  }
  .hero__img {
    order: 2;
    max-width: 400px;
    justify-self: flex-end;
    margin-bottom: -20rem;
  }
  .features {
    padding: 15rem 0 5rem 0;
  }
  .features__header {
    text-align: left;
  }
  .features__header::before {
    left: 0;
    transform: translateX(0);
    width: 10%;
  }
  .features__wrapper {
    flex-direction: row;
  }
  .features__wrapper .card {
    place-items: flex-start;
    text-align: left;
    margin: 0;
  }
  .features__wrapper .card:not(:last-child) {
    margin-bottom: unset;
    margin-right: 1rem;
  }
  .hww {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    padding: 6rem;
  }
  .hww h2 {
    margin-bottom: unset;
    font-size: var(--fnt-xlarge);
  }
  .hww::after {
    background-image: url("../images/bg-pattern-how-we-work-desktop.svg");
  }
  footer::before {
    background-image: url("../images/bg-pattern-footer-desktop.svg");
  }
  .footer {
    text-align: left;
    width: 100%;
  }
  .footer .footer-list {
    align-self: flex-start;
  }
  .footer__top, .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer__top {
    margin-bottom: 5rem;
  }
  .footer__top .logo {
    margin-bottom: 0;
  }
  .footer__top::after {
    bottom: -60%;
  }
  .footer__bottom {
    width: 70%;
  }
}
/*# sourceMappingURL=main.css.map */