/* ===COMMON-CLASSES=== */
.container {
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
}

.flex-center {
  display: flex;
  align-items: center;

  &-sb {
    justify-content: space-between;
  }
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  gap: 3rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1000px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.nav__link {
  display: block;
  color: var(--dark-blue);
  font-size: var(--xsmall-fnt);
  font-weight: 400;
}

.btn {
  padding: 1.5rem 4rem;
  border: none;
  outline: none;
  border-radius: 100vw;
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  color: var(--clr-white);
  font-weight: var(--semibold-fnt);
  font-weight: var(--xsmall-fnt);
  cursor: pointer;
  transition: all 0.25s;

  &:hover {
    opacity: 0.5;
  }
}

.title {
  font-size: var(--medium-fnt);
  margin-bottom: 2rem;
}

.space {
  padding: 8.75rem 1.5rem;
}
/* ===COMMON-CLASSES=== */
